extends layout

block content
  h1
    img(src='/img/seed.png')
    |Immense Express Seed
  p This seed contains the following:
  ul
    li Express
    li Flatstrap
    li Fontawesome
    li jQuery
    li Less
    li CoffeeScript
    li Jade
    li Socket.io
    li connect-assets

block script
  :coffeescript
    $ -> console.log 'foo bar baz'