!!!
html
  head
    meta(charset='utf8')
    title Express Socket.io Seed App
    script(type='text/javascript', src='/vendor/js/modernizr.js')
    != css('app')
  body
    block content

    script(src='/socket.io/socket.io.js')
    != js('app')

    block script