extends ../layout

block page-header
  h1 Admin secret

block content
  p This page is a secret! Only authenticated admins can see it.
  p All you can do here is&nbsp;
    form(action="/logout", method="post")
      button.btn.btn-link(type="submit")
        |Log Out&nbsp;
        i.fa.fa-sign-out
    |or&nbsp;
    a(href='/') go home
    |.
