extends ../layout

block content
  .container
    h1 Admin secret
    p This page is a secret! Only authenticated admins can see it.
    p All you can do here is&nbsp;
      a(href='/users/logout') logout&nbsp;
      |or&nbsp;
      a(href='/') go home
      |.
