extends ../layout

block content
  .container
    p This page is a secret! Only authenticated users can see it.
    if user.is('admin')
      p You are an admin, therefore you can view the&nbsp;
        a(href='/users/admin-secret') admin secret
        |.
    p You can&nbsp;
      a(href='/users/logout') logout&nbsp;
      |or&nbsp;
      a(href='/') go home
      |.
