!!!
html
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    script(type='text/javascript', src='/js/compat.js')
    title Immense Express Seed | Error
  body.error
    .container
      block content
