extends layout

block content
  .container
    .hero-unit
      img.pull-left(src='/img/seed.png')
      h1 Immense Express Seed
    .row
      .span8.offset2
        h2 This seed contains the following:
        ul.unstyled
          li
            i.icon-ok
            |&nbsp;
            a(href='http://expressjs.com/') Express
          li
            i.icon-ok
            |&nbsp;
            a(href='http://littlesparkvt.com/flatstrap/') Flatstrap
          li
            i.icon-ok
            |&nbsp;
            a(href='http://fortawesome.github.com/Font-Awesome/') Font Awesome
          li
            i.icon-ok
            |&nbsp;
            a(href='http://jquery.com/') jQuery
          li
            i.icon-ok
            |&nbsp;
            a(href='http://lesscss.org/') Less
          li
            i.icon-ok
            |&nbsp;
            a(href='http://coffeescript.org/') CoffeeScript
          li
            i.icon-ok
            |&nbsp;
            a(href='http://jade-lang.com/') Jade
          li
            i.icon-ok
            |&nbsp;
            a(href='http://socket.io/') Socket.IO
          li
            i.icon-ok
            |&nbsp;
            a(href='http://modernizr.com/') Modernizr
          li
            i.icon-ok
            |&nbsp;
            a(href='https://github.com/kriskowal/es5-shim') es5-shim
    hr
    footer © Immense Networks 2013

block script
  :coffeescript
    $ ->
      console.log 'connecting to socket.io on the server...'
      socket = io.connect()

      socket.on 'connect', ->
        console.log 'connected!  now let\'s disconnect...'

        socket.disconnect()