extends layout

block content
  .container
    .hero-unit
      img.pull-left(src=assets.url('/img/seed.png'))
      h1 Immense Express Seed
    .row
      .span8.offset2
        h2 This seed contains the following:
        ul
          li: a(href='http://expressjs.com/') Express
          li: a(href='http://littlesparkvt.com/flatstrap/') Flatstrap
          li: a(href='http://fortawesome.github.com/Font-Awesome/') Font Awesome
          li: a(href='http://jquery.com/') jQuery
          li: a(href='http://lesscss.org/') Less
          li: a(href='http://coffeescript.org/') CoffeeScript
          li: a(href='http://jade-lang.com/') Jade
          li: a(href='http://socket.io/') Socket.IO
          li: a(href='http://modernizr.com/') Modernizr
          li: a(href='https://github.com/kriskowal/es5-shim') es5-shim
          li: a(href='https://github.com/techpines/asset-rack') asset-rack
    hr
    footer © Immense Networks 2013

block script
  :coffeescript
    $ ->
      console.log 'connecting to socket.io on the server...'
      socket = io.connect()

      socket.on 'connect', ->
        console.log 'connected!  now let\'s disconnect...'

        socket.disconnect()