!!!
html
  head
    meta(charset='utf8')
    title Immense Express Seed
    != assets.tag('/css/app.css')
    != assets.tag('/js/app_top.js')
  body
    block content

    != assets.tag('/js/app.js')

    block script