!!!
html
  head
    meta(charset='utf8')
    title Express Socket.io Seed App
    != assets.tag('/js/app_top.js')
    != assets.tag('/css/app.css')
  body
    block content

    != assets.tag('/js/app.js')

    block script